# MLP Classifier Notebook

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import json
import optuna
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, classification_report
import os

In [2]:
# Load dataset
bank_df = pd.read_csv(r'C:\Users\aryan\Desktop\XAI\XAI_Models\binary\bank_customer_churn\Bank Customer Churn Prediction.csv')

# Display basic info
print(bank_df.info())
print(bank_df.describe())
print(bank_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       10000 non-null  int64
 1   credit_score      10000 non-null  int64
 2   country           10000 non-null  object
 3   gender            10000 non-null  object
 4   age               10000 non-null  int64
 5   tenure            10000 non-null  int64
 6   balance           10000 non-null  float64
 7   products_number   10000 non-null  int64
 8   credit_card       10000 non-null  int64
 9   active_member     10000 non-null  int64
 10  estimated_salary  10000 non-null  float64
 11  churn             10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB
None
        customer_id  credit_score           age        tenure        balance  \
count  1.000000e+04  10000.000000  10000.000000  10000.000000   10000.000000
mean   1.569094e+07    650.528800     38.921800      5.012800   76485.889288
std    7.193619e+04     96.653299     10.487806      2.892174   62397.405202
min    1.556570e+07    350.000000     18.000000      0.000000       0.000000
25%    1.562853e+07    584.000000     32.000000      3.000000       0.000000
50%    1.569074e+07    652.000000     37.000000      5.000000   97198.540000
75%    1.575323e+07    718.000000     44.000000      7.000000  127644.240000
max    1.581569e+07    850.000000     92.000000     10.000000  250898.090000

       products_number  credit_card  active_member  estimated_salary  \
count     10000.000000  10000.00000   10000.000000      10000.000000
mean          1.530200      0.70550       0.515100     100090.239881
std           0.581654      0.45584       0.499797      57510.492818
min           1.000000      0.00000       0.000000         11.580000
25%           1.000000      0.00000       0.000000      51002.110000
50%           1.000000      1.00000       1.000000     100193.915000
75%           2.000000      1.00000       1.000000     149388.247500
max           4.000000      1.00000       1.000000     199992.480000

              churn
count  10000.000000
mean       0.203700
std        0.402769
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
   customer_id  credit_score country  gender  age  tenure    balance  \
0     15634602           619  France  Female   42       2       0.00
1     15647311           608   Spain  Female   41       1   83807.86
2     15619304           502  France  Female   42       8  159660.80
3     15701354           699  France  Female   39       1       0.00
4     15737888           850   Spain  Female   43       2  125510.82

   products_number  credit_card  active_member  estimated_salary  churn
0                1            1              1         101348.88      1
1                1            0              1         112542.58      0
2                3            1              0         113931.57      1
3                2            0              0          93826.63      0
4                1            1              1          79084.10      0